initialSetup/main/default/flows/Create_Enrolled_Record_for_Shortlisted_Candidate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_for_Shortlisted_Pre_Enrolled_Record</name>
        <label>Check for Shortlisted Pre-Enrolled Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Create_Enrolled_Record_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isChangedStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Shortlisted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pre_Enrolled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_Enrolled_Record_Type_Id</targetReference>
            </connector>
            <label>Create Enrolled Record</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Create Enrolled Record for Shortlisted Candidate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Enrolled Record for Shortlisted Candidate</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_enrolled_record</name>
        <label>Create enrolled record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>CRO_Agent_Prompt_Response__c</field>
            <value>
                <elementReference>record.CRO_Agent_Prompt_Response__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Enrolled_Site_Research_Candidate__c</field>
            <value>
                <elementReference>record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Enrolled_Site__c</field>
            <value>
                <elementReference>record.Enrolled_Site__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PCP_Agent_LLM_Response__c</field>
            <value>
                <elementReference>record.PCP_Agent_LLM_Response__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PCP_Agent_Prompt_Response__c</field>
            <value>
                <elementReference>record.PCP_Agent_Prompt_Response__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PCP__c</field>
            <value>
                <elementReference>record.PCP__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Patient_Email__c</field>
            <value>
                <elementReference>record.Patient_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Patient__c</field>
            <value>
                <elementReference>record.Patient__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>get_Enrolled_Record_Type_Id.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Site_Agent_LLM_Response__c</field>
            <value>
                <elementReference>record.Site_Agent_LLM_Response__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Site_Agent_Prompt_Response__c</field>
            <value>
                <elementReference>record.Site_Agent_Prompt_Response__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>record.Status__c</elementReference>
            </value>
        </inputAssignments>
        <object>Enrolled_Site_Research_Candidate__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>get_Enrolled_Record_Type_Id</name>
        <label>get Enrolled Record Type Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_enrolled_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Enrolled_Site_Research_Candidate__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Enrolled</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_for_Shortlisted_Pre_Enrolled_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>isChangedStatus</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Enrolled_Site_Research_Candidate__c</objectType>
    </variables>
</Flow>
