initialSetup/main/default/flows/Send_Invite_for_Patient_Enrollment_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Invite_for_Patient_Enrollment</name>
        <label>Send Invite for Patient Enrollment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Enrolled_Site_Research_Candidate__c.Send_Invite_for_Patient_Enrollment_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Enrolled_Site_Research_Candidate__c.Send_Invite_for_Patient_Enrollment_Email_Alert</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>checkStatus</name>
        <label>Check Status of Enrolled Site Research Candidate</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Send_invite_for_enrollment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isChangedStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Invite Sent for Enrollment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>record.Patient_Email__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Invite_for_Patient_Enrollment</targetReference>
            </connector>
            <label>Send invite for enrollment</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Send Invite for Patient Enrollment Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send Invite for Patient Enrollment Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>checkStatus</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>isChangedStatus</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Enrolled_Site_Research_Candidate__c</objectType>
    </variables>
</Flow>
