agentforceAgents/main/default/flows/Agent_Orchestrator_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Invoke_CRO_Agent</name>
        <label>Invoke CRO Agent</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>CRO_Employee_Agent</actionName>
        <actionType>generateAiAgentResponse</actionType>
        <dataTypeMappings>
            <apexClass>AgentInvAction__AIAgentCompositeDefault</apexClass>
            <typeName>U__agentResponseApex</typeName>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>userMessage</name>
            <value>
                <stringValue>{!User_Query_Flow}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>CRO_Employee_Agent</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>Response</assignToReference>
            <name>agentResponse</name>
        </outputParameters>
        <versionString>1.1.0</versionString>
    </actionCalls>
    <actionCalls>
        <name>Invoke_Identify_Agent_Prompt</name>
        <label>Invoke Identify Agent Prompt</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Identify_Agent_To_Be_Invoked</actionName>
        <actionType>generatePromptResponse</actionType>
        <connector>
            <targetReference>Select_Agent</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Input:User_Query</name>
            <value>
                <elementReference>User_Query_Flow</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Identify_Agent_To_Be_Invoked</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Invoke_PCP_Agent</name>
        <label>Invoke PCP Agent</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>PCP_Employee_Agent</actionName>
        <actionType>generateAiAgentResponse</actionType>
        <dataTypeMappings>
            <apexClass>AgentInvAction__AIAgentCompositeDefault</apexClass>
            <typeName>U__agentResponseApex</typeName>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>userMessage</name>
            <value>
                <stringValue>{!User_Query_Flow}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>PCP_Employee_Agent</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>Response</assignToReference>
            <name>agentResponse</name>
        </outputParameters>
        <versionString>1.1.0</versionString>
    </actionCalls>
    <actionCalls>
        <name>Invoke_Site_Agent</name>
        <label>Invoke Site Agent</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Site_Employee_Agent</actionName>
        <actionType>generateAiAgentResponse</actionType>
        <dataTypeMappings>
            <apexClass>AgentInvAction__AIAgentCompositeDefault</apexClass>
            <typeName>U__agentResponseApex</typeName>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>userMessage</name>
            <value>
                <stringValue>{!User_Query_Flow}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>Site_Employee_Agent</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>Response</assignToReference>
            <name>agentResponse</name>
        </outputParameters>
        <versionString>1.1.0</versionString>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Unable_to_Identify_Agent</name>
        <label>Unable to Identify Agent</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Response</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Invoke_Identify_Agent_Prompt.promptResponse</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Select_Agent</name>
        <label>Select Agent</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Unable_to_Identify_Agent</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CRO_Agent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Invoke_Identify_Agent_Prompt.promptResponse</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CRO Agent</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Invoke_CRO_Agent</targetReference>
            </connector>
            <label>CRO Agent</label>
        </rules>
        <rules>
            <name>Site_Agent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Invoke_Identify_Agent_Prompt.promptResponse</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Site Agent</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Invoke_Site_Agent</targetReference>
            </connector>
            <label>Site Agent</label>
        </rules>
        <rules>
            <name>PCP_Agent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Invoke_Identify_Agent_Prompt.promptResponse</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PCP Agent</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Invoke_PCP_Agent</targetReference>
            </connector>
            <label>PCP Agent</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Agent Orchestrator Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Agent Orchestrator Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <runInMode>DefaultMode</runInMode>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Invoke_Identify_Agent_Prompt</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Response</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>User_Query_Flow</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
